[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cha14ka/Desktop/xfce4-web-browser.desktop]
row=1
col=0

[/home/cha14ka/Desktop/libreoffice-writer.desktop]
row=4
col=0

[/home/cha14ka/Desktop/libreoffice-calc.desktop]
row=3
col=0

[/home/cha14ka/Desktop/vlc.desktop]
row=1
col=1

[/home/cha14ka/Desktop/xfce4-mail-reader.desktop]
row=2
col=0

[/home/cha14ka/Desktop/org.kde.kate.desktop]
row=0
col=1

[/home/cha14ka/Desktop/gimp.desktop]
row=2
col=1

[/home/cha14ka/Desktop/libreoffice-draw.desktop]
row=5
col=0

[/home/cha14ka]
row=0
col=0

